<div class="modal1 password-forgot-modal">
  <i class="far fa-times-circle close-modal-button"></i>
  <div class="password-forgot-container">
    <div class="text-center">
      <h2>Reset Password</h2>
    </div>

    <form id="password-forgot-form" method="" action="" novalidate>
      <div class="mb-3">
        <label for="password-forgot-email" class="form-label">Email Address *</label>
        <input type="email" class="form-control" id="password-forgot-email" name="email">
        <div class="form-alert" id="password-forgot-email-empty-alert">Please enter your email address</div>
        <div class="form-alert" id="password-forgot-email-invalid-alert">Email address has invalid format</div>
        <div class="form-alert" id="password-forgot-email-missing-alert">User with this email address does not exist</div>
        <div class="form-alert" id="password-forgot-email-unconfirmed-alert">Please confirm your email address</div>
      </div>
      
      <button class="btn btn-primary shadow d-block mx-auto w-50" type="submit">Send reset link</button>
    </form>

    <p class="mt-3 text-center">or <a class="login-link">Login</a></p>
  </div>
</div>

<div class="modal1 password-forgot-popup">
  <i class="far fa-times-circle close-modal-button"></i>
  <div class="">
    <div class="text-center">
      <h2>Reset Password</h2>
    </div>
    <div class="">
      <p class="mt-3 text-center">An email has been sent to <span class="password-forgot-email"></span> with further instructions</p>
    </div>
  </div>
</div>