<div class="modal strava-auth-success-popup">
  <i class="far fa-times-circle close-modal-button"></i>
  <div class="">
    <div class="">
      <h2>Success!</h2>
    </div>
    <div class="">
      <p class="modal-text">You have successfully created your account</p>
      <p class="modal-text">Please check you email and confirm your email address</p>
      <p class="modal-text">Then <a class="login-link">Login</a> to win our challenges!</p>
    </div>
  </div>
</div>