@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  padding: 2rem 0;
  background-color: #a8aec5;
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  color: #444444;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

.main-container {
  display: flex;
  width: 90%;
  margin: auto;
  height: calc(100vh - 4rem);
  /* box-shadow: 0 8px 32px 0 rgba(15, 32, 16, 0.37); */
  border-radius: 20px;
  overflow: auto;
  background-color: #ffff;
}

.side-nav-container {
  width: 15%;
  height: 100%;
  padding: 2rem 2rem 0 0;
}

.logo-container {
  margin: 0 0 5rem 2rem;
}

.logo {
  color: #3a4c9c;
  font-size: 2rem;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 600;
}

.logo > span {
  color: #e5bb3f;
}

.side-nav-link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  transition: all 0.2s ease;
}

.side-nav-link-icon {
  padding: 1rem 3rem 1rem 2rem;
  width: 30%;
  border-radius: 0 50px 50px 0;
  font-size: 2rem;
  text-align: center;
}

.side-nav-link-text {
  width: 70%;
  padding: 1rem 0 1rem 1rem;
}

.challenges-container {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  padding: 2rem;
  background-color: #e4e7ee;
  overflow-y: auto;
}

.period-nav {
  width: 100%;
  font-size: 1.4rem;
  color: #3a4c9c;
  margin-bottom: 2rem;
}

.period-nav > ul {
  display: flex;
  justify-content: space-evenly;
}

.clicked-period-nav-link {
  text-decoration: underline #e5bb3f solid 3px;
}

.challenges {
  display: flex;
  flex-direction: column;
}

.criteria-challenges-container {
  display: flex;
  justify-content: space-evenly;
}

.challenge-card {
  width: 45%;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #ffff;
  /* box-shadow: 0 3px 20px 0 rgba(15, 32, 16, 0.37); */
  font-size: 1.5rem;
}

.challenge-card > h2 {
  color: #be636b;
  margin-bottom: 0.5rem;
  align-self: flex-start;
}

.winners-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 0.5rem; */
}

.winner-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.3rem;
}

.winner-container > i {
  font-size: 2rem;
  /* margin-right: 1rem; */
  width: 10%;
}

.winner-number {
  font-family: 'Lobster', cursive;
  width: 10%;
}

.winner-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  /* margin-right: 1rem; */
}

.winner-name {
  /* margin-right: 1rem; */
  width: 55%;
  padding-left: 1rem;
}

.winner-criteria-value {
  color: grey;
  width: 25%
}

.show-more-button {
  align-self: flex-end;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 900;
  color: #3a4c9c;
  text-decoration: underline;
}

.medal-1 {
  color: #FFD700;
}

.medal-2 {
  color: silver;
}

.medal-3 {
  color: #cd7f32;
}

.side-info-container {
  width: 30%;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
}

.navbar {
  margin: 0 2rem 4rem 0;
}

.navbar > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
}

.navbar-link {
  padding: 1.5rem;
}

.navbar-profile-image {
  width: 3.3rem;
  border-radius: 50%;
  border: #e5bb3f solid 3px;
}

.side-info {
  margin: auto;
  width: 80%;
}

.side-info-title {
  margin-bottom: 2rem;
}

.side-info-content {
  display: flex;
  flex-direction: column;
}

.modal {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  overflow-y: scroll;
  padding: 30px 60px;
  background-color: #ffff;
  display: none;
  transition: 0.5s;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 30%;
  min-width: 25%;
  max-width: 410px;
}

.modal h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: initial;
  margin-bottom: 2rem;
  color: orange;
  font-family: 'Questrial', sans-serif;
}

.form-input {
  margin-bottom: 2rem;
}

.form-control {
  width: 100%;
  padding: 1rem 0 1rem 0;
  /* margin-top: 1rem; */
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-bottom: orange solid 2px;
  color: orange;
}

.form-label {
  color: #909090;
}

.form-control:focus {
  outline: 0;
  /* border-bottom: orange solid 2px; */
}

.modal-text {
  color: #5d5d5d;
  text-align: center;
  margin-top: 1.5rem;
}

.login-link, .signup-link, .password-forgot-link {
  text-decoration: underline;
  color: orange
}

.password-forgot-email {
  color: #3a4c9c;
}

.form-alert {
  display: none;
  color: red;
  font-size: 1.3rem;
}

.form-button {
  display: block;
  width: 100%;
  padding: 1.2rem 5rem;
  background-color: orange;
  /* box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3); */
  font-family: inherit;
  font-size: inherit;
  border-radius: 20px;
  color: #ffff;
}

.form-button:hover {
  background-color: #E28D00;  
}

.form-button:active {
  background-color: #3a4c9c;
}

.blurred {
  filter: blur(1px);
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

.red-border {
  border-bottom: solid 1px red;
  margin-bottom: 0.5rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}