@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  padding: 3rem 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

h2 {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main-container {
  position: relative;
  width: 90%;
  margin: auto;
  /* min-height: calc(100vh - 6rem); */
  height: calc(100vh - 6rem);
  box-shadow: 0 8px 32px 0 rgba(15, 32, 16, 0.37);
  border-radius: 20px;
  overflow: auto;
}

.side-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 200px;
  width: 200px;
  height: 100%;
  border-right: 1px solid #00a8cc;
  padding: 2rem;
}

.side-nav-link {
  display: flex;
}

.side-nav-link-icon {
  font-size: 2rem;
}

.challenges-container {
  display: flex;
  flex-direction: column;
  margin: 0 300px 0 200px;
  padding: 2rem;
}

.criteria-challenges-container {
  display: flex;
}

.challenge-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: grey solid 1px;
}

.winner-container {
  display: flex;
}

.medal-1 {
  color: gold;
}

.medal-2 {
  color: silver;
}

.medal-3 {
  color: grey;
}

.side-info-container {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 300px;
  width: 300px;
  height: 100%;
  border-left: 1px solid #00a8cc;
  padding: 2rem;
}

nav > ul {
  display: flex;
}

.form-alert {
  display: none;
  color: red;
  font-size: 0.85rem;
}

legend {
  font-size: inherit !important;
}

.alert {
  padding: 0 !important;
}

.change-todo-status-button {
  display: none;
}

.modal1 {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  overflow-y: scroll;
  padding: 50px 50px;
  background-color: #fffff4;
  display: none;
  transition: 0.5s;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 35%;
  min-width: 25%;
  max-width: 410px;
}

.password-forgot-email {
  color: violet
}

.blurred {
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

.red-border {
  border: solid 1px red !important;
}

.display-block {
  display: block;
}

.display-none {
  display: none !important;
}