<div class="main-container">
  <div class="side-nav-container">
    <div class="logo-container">
      <a class="logo" href="/"><i class="fas fa-award"></i> WINIFY</a>
    </div>

    <!-- Side navigation bar -->
    <div class="side-nav">
      <ul>
        <li class="side-nav-link-container">
          <a class="side-nav-link run-nav-link">
            <div class="side-nav-link-icon"><i class="fas fa-running"></i></div>
            <div class="side-nav-link-text">Run</div>
          </a>
        </li>

        <li class="side-nav-link-container">
          <a class="side-nav-link ride-nav-link">
            <div class="side-nav-link-icon"><i class="fas fa-biking"></i></div>
            <div class="side-nav-link-text">Ride</div>
          </a>
        </li>

        <li class="side-nav-link-container">
          <a class="side-nav-link swim-nav-link">
            <div class="side-nav-link-icon"><i class="fas fa-swimmer"></i></div>
            <div class="side-nav-link-text">Swim</div>
          </a>
        </li>

        <li class="side-nav-link-container">
          <a class="side-nav-link walk-nav-link">
            <div class="side-nav-link-icon"><i class="fas fa-walking"></i></div>
            <div class="side-nav-link-text">Walk</div>
          </a>
        </li>

        <li class="side-nav-link-container">
          <a class="side-nav-link hike-nav-link">
            <div class="side-nav-link-icon"><i class="fas fa-hiking"></i></div>
            <div class="side-nav-link-text">Hike</div>
          </a>
        </li>

        <li class="side-nav-link-container">
          <a class="side-nav-link wheelchair-nav-link">
            <div class="side-nav-link-icon"><i class="fab fa-accessible-icon"></i></div>
            <div class="side-nav-link-text">Wheelchair</div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Challenges container -->
  <div class="challenges-container">
    <h1>Champion Board</h1>
    <div class="criteria-challenges-container distance-challenges-container">
      <div class="challenge-card distance-total-challenge-card">

      </div>
      <div class="challenge-card distance-single-challenge-card">

      </div>
    </div>

    <div class="criteria-challenges-container time-challenges-container">
      <div class="challenge-card time-total-challenge-card">

      </div>

      <div class="challenge-card time-single-challenge-card">
        
      </div> 
    </div>

    <div class="criteria-challenges-container speed-challenges-container">
      <div class="challenge-card speed-total-challenge-card">

      </div>
      
      <div class="challenge-card speed-single-challenge-card">
        
      </div>
    </div>

    <div class="criteria-challenges-container elevation-challenges-container">
      <div class="challenge-card elevation-total-challenge-card">

      </div>
      
      <div class="challenge-card elevation-single-challenge-card">
        
      </div>   
    </div>
  </div>

  <div class="side-info-container">
    <!-- Navbar -->
    <nav>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-profile-link" aria-current="page"><i class="fas fa-user-circle"></i><i class="far fa-user-circle"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-login-link" aria-current="page"><i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-logout-link"><i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </nav>

    <!-- Side info -->
    <div class="side-info">

    </div>
  </div>
</div>























<script>
  const host = "<%= host %>";
  const port = "<%= port %>";
  const stravaClient = "<%= stravaClient %>";
  const stravaAuthSuccess = "<%= stravaAuthSuccess %>";
</script>
<script src="/static/js/home.js" defer></script>