<div class="main-container">
  <div class="side-nav-container">
    <div class="logo-container">
      <a class="logo" href="/"><i class="fas fa-award"></i> WINIF<span>Y</span></a>
    </div>

    <!-- Side navigation bar -->
    <nav class="side-nav">
      <ul>
        <li class="side-nav-link-container">
          <a class="side-nav-link run-nav-link">
            <div class="side-nav-link-icon"><i class="fas fa-running"></i></div>
            <div class="side-nav-link-text">Run</div>
          </a>
        </li>

        <li class="side-nav-link-container">
          <a class="side-nav-link ride-nav-link">
            <div class="side-nav-link-icon"><i class="fas fa-biking"></i></div>
            <div class="side-nav-link-text">Ride</div>
          </a>
        </li>

        <li class="side-nav-link-container">
          <a class="side-nav-link swim-nav-link">
            <div class="side-nav-link-icon"><i class="fas fa-swimmer"></i></div>
            <div class="side-nav-link-text">Swim</div>
          </a>
        </li>

        <li class="side-nav-link-container">
          <a class="side-nav-link walk-nav-link">
            <div class="side-nav-link-icon"><i class="fas fa-walking"></i></div>
            <div class="side-nav-link-text">Walk</div>
          </a>
        </li>

        <li class="side-nav-link-container">
          <a class="side-nav-link hike-nav-link">
            <div class="side-nav-link-icon"><i class="fas fa-hiking"></i></div>
            <div class="side-nav-link-text">Hike</div>
          </a>
        </li>

        <li class="side-nav-link-container">
          <a class="side-nav-link wheelchair-nav-link">
            <div class="side-nav-link-icon"><i class="fab fa-accessible-icon"></i></div>
            <div class="side-nav-link-text">Wheelchair</div>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Challenges container -->
  <div class="challenges-container">
    <h1>Champion Board</h1>
    <nav class="period-nav">
      <ul>
        <li class="period-nav-link-container">
          <a class="period-nav-link clicked-period-nav-link current-week-nav-link">CURRENT WEEK</a>
        </li>
        <li class="period-nav-link-container">
          <a class="period-nav-link last-week-nav-link">LAST WEEK</a>
        </li>
        <li class="period-nav-link-container">
          <a class="period-nav-link current-month-nav-link">CURRENT MONTH</a>
        </li>
        <li class="period-nav-link-container">
          <a class="period-nav-link last-month-nav-link">LAST MONTH</a>
        </li>
      </ul>
    </nav>
    <div class="challenges">
      <div class="criteria-challenges-container distance-challenges-container">
        <!-- <div class="challenge-card distance-total-challenge-card">

        </div>
        <div class="challenge-card distance-single-challenge-card">

        </div> -->
      </div>

      <div class="criteria-challenges-container time-challenges-container">
        <!-- <div class="challenge-card time-total-challenge-card">

        </div>

        <div class="challenge-card time-single-challenge-card">
          
        </div>  -->
      </div>

      <div class="criteria-challenges-container speed-challenges-container">
        <!-- <div class="challenge-card speed-total-challenge-card">

        </div>
        
        <div class="challenge-card speed-single-challenge-card">
          
        </div> -->
      </div>

      <div class="criteria-challenges-container elevation-challenges-container">
        <!-- <div class="challenge-card elevation-total-challenge-card">

        </div>
        
        <div class="challenge-card elevation-single-challenge-card">
          
        </div>    -->
      </div>
    </div>
  </div>

  <div class="side-info-container">
    <!-- Navbar -->
    <nav class="navbar">
      <ul class="">
        <li class="navbar-item">
          <a href="/" class="navbar-link navbar-home-link"><i class="fas fa-home"></i></a>
        </li>
        <li class="navbar-item">
          <a href="/profile" class="navbar-link navbar-profile-link"><img class="navbar-profile-image"></a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link navbar-login-link"><i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link navbar-logout-link"><i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </nav>

    <!-- Side info -->
    <div class="side-info">
      <h2 class="side-info-title"></h2>
      <div class="side-info-content"></div>
    </div>
  </div>
</div>























<script>
  const host = "<%= host %>";
  const port = "<%= port %>";
  const stravaClient = "<%= stravaClient %>";
  const stravaAuthSuccess = "<%= stravaAuthSuccess %>";
</script>
<script src="/static/js/home.js" defer></script>