<div>




  
</div>























<script>
  const host = "<%= host %>";
  const port = "<%= port %>";
  const stravaClient = "<%= stravaClient %>";
  const stravaAuthSuccess = "<%= stravaAuthSuccess %>";
</script>
<script src="/static/js/home.js" defer></script>